{% extends 'wms_skk/base.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}
<script type="text/javascript" src="{% static 'echarts/js/echarts-en.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'wms_skk/css/dashboard.css' %}">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section class="content-header p-2">
    <div class="d-sm-flex align-items-center justify-content-center">
        <p class="font-weight-bold my-0">Dashboard</p>
    </div>
</section>

<section class="content">
    <div class="row">

        <!-- Production Target (Monthly) Card -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Production Target (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ production_target }} Bags</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Current Production (Monthly) Card -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Current Production (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ current_production }} Bags</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- In-stock Percentage Card -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">In-stock Percentage</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ in_stock_pct }}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ in_stock_pct }}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-layer-group fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- AGV Status Card -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">AGV Status</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Running 1/1</div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-android fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Stock Overview Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Stock Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="stockOverview" style="width: 100%; min-height: 480px;"></div>
                    <script type="text/javascript">
                    var overview_plant_list = {{ overview_plant_list|safe }};
                    var product_id = {{ product_id|safe }};
                    var qty_inventory = {{ qty_inventory|safe }};
                    var qty_buffer = {{ qty_buffer|safe }};
                    var qty_misplace = {{ qty_misplace|safe }};
                    var qty_avail_storage = {{ qty_avail_storage|safe }};
                    var pct_qty_inventory = {{ pct_qty_inventory|safe }};
                    var pct_qty_buffer = {{ pct_qty_buffer|safe }};
                    var pct_qty_misplace = {{ pct_qty_misplace|safe }};
                    var pct_qty_avail_storage = {{ pct_qty_avail_storage|safe }};
                    var product_color = {{ product_color|safe }};

                    var overviewChart = echarts.init(document.getElementById('stockOverview'));
                    var overviewOption = [];
                    for (i = 0; i < overview_plant_list.length; i++) {
                        if (i == 0) {
                            var xAxisLabelRotation = 45;
                        } else {
                            var xAxisLabelRotation = 0;
                        }

                        var qty_inventory_color = [];
                        for (j = 0; j < product_id[i].length; j++) {
                            qty_inventory_color[j] = {
                                value: qty_inventory[i][j],
                                itemStyle: {
                                    color: product_color[i][j],
                                },
                            }
                        }

                        var pct_qty_inventory_color = [];
                        for (j = 0; j < product_id[i].length; j++) {
                            pct_qty_inventory_color[j] = {
                                value: pct_qty_inventory[i][j],
                                itemStyle: {
                                    color: product_color[i][j],
                                },
                            }
                        }

                        overviewOption[i] = {
                            title: {},
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            legend: {
                                data: ['Inventory','Buffer','Misplace','Available Storage']
                            },
                            xAxis: {
                                data: product_id[i],
                                axisLabel : {
                                    rotate: xAxisLabelRotation,
                                }
                            },
                            yAxis: {
                                type : 'value',
                                min: null,
                                max: null,
                                axisLabel : {
                                    formatter: '{value} Bags'
                                }
                            },
                            color: ['#003366', 'purple', 'red', 'silver'],
                            series: [
                                {
                                    name: 'Inventory',
                                    type: 'bar',
                                    stack: 'component',
                                    data: qty_inventory_color,
                                },
                                {
                                    name: 'Buffer',
                                    type: 'bar',
                                    stack: 'component',
                                    data: qty_buffer[i]
                                },
                                {
                                    name: 'Misplace',
                                    type: 'bar',
                                    stack: 'component',
                                    data: qty_misplace[i]
                                },
                                {
                                    name: 'Available Storage',
                                    type: 'bar',
                                    stack: 'component',
                                    data: qty_avail_storage[i]
                                }
                            ]
                        }

                        overviewOption[i + overview_plant_list.length] = {
                            title: {},
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            legend: {
                                data: ['Inventory','Buffer','Misplace','Available Storage']
                            },
                            xAxis: {
                                data: product_id[i],
                                axisLabel : {
                                    rotate: xAxisLabelRotation
                                }
                            },
                            yAxis: {
                                type : 'value',
                                min: 0,
                                max: 100,
                                axisLabel : {
                                    formatter: '{value}%'
                                }
                            },
                            color: ['#003366', 'purple', 'red', 'silver'],
                            series: [
                                {
                                    name: 'Inventory',
                                    type: 'bar',
                                    stack: 'component',
                                    data: pct_qty_inventory_color
                                },
                                {
                                    name: 'Buffer',
                                    type: 'bar',
                                    stack: 'component',
                                    data: pct_qty_buffer[i]
                                },
                                {
                                    name: 'Misplace',
                                    type: 'bar',
                                    stack: 'component',
                                    data: pct_qty_misplace[i]
                                },
                                {
                                    name: 'Available Storage',
                                    type: 'bar',
                                    stack: 'component',
                                    data: pct_qty_avail_storage[i]
                                }
                            ]
                        }
                    }
                    </script>
                    <div class="text-center">
                        {% for plant in overview_plant_list %}
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="overview_plant_id" value="{{ plant.0 }}" {% if plant.0 == overview_plant_list.0|first %}checked{% endif %}>{{ plant.1 }}
                            </label>
                        </div>
                        {% endfor %}
                        <br>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="overview_value_type" value="{{ overview_plant_list|length }}" checked>% Total
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="overview_value_type" value="0">Bags
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stock Usage Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Stock Usage</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="stockUsage" style="width: 100%; min-height: 480px;"></div>
                    <script type="text/javascript">
                    var usage_plant_list = {{ usage_plant_list|safe }};
                    var qty_inventory_plant = {{ qty_inventory_plant|safe }};

                    var usageChart = echarts.init(document.getElementById('stockUsage'));
                    var qty_inventory_name = [];
                    for (i = 0; i < usage_plant_list.length; i++) {
                        qty_inventory_name[i] = {
                            value: qty_inventory_plant[i],
                            name: usage_plant_list[i]
                        }
                    }

                    usageOption = {
                        title: {},
                        tooltip: {
                            trigger: 'item',
                            formatter: '{b}<br/>{c} ({d}%)'
                        },
                        series: [
                            {
                                name: 'Inventory',
                                type: 'pie',
                                radius : ['0%', '80%'],
                                center: ['50%', '50%'],
                                data: qty_inventory_name,
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    }
                    usageChart.setOption(usageOption);
                    </script>
                    <div class="text-center">
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'wms_skk/js/dashboard.js' %}"></script>
{% endblock %}
