{% extends 'wms_skk/base.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'wms_skk/css/layout.css' %}"/>
{% endblock %}

{% block title %}Layout{% endblock %}

{% block body %}
<section class="content-header p-2">
    <div class="d-sm-flex align-items-center justify-content-center">
        <p class="font-weight-bold my-0">Warehouse Layout</p>
    </div>
</section>

<section class="content">
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="layout" id="layout-table">
                    <thead>
                    <tr>
                        <td class="headerFooter bold"></td>
                        {% for header in header_1 %}
                        <td class="headerFooter bold" colspan="4">{{ header }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="headerFooter"></td>
                        {% for header in header_2 %}
                        <td class="headerFooter">{{ header }}</td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, row in zip_row %}
                    <tr>
                        <td class="headerFooter">{{ index }}</td>
                        {% for col in layout_col reversed %}
                        {% if layout|k:col|k:row|k:'storage_for' %}
                        {% if layout|k:col|k:row|k:'have_inventory' %}
                        <td class="js-update-inv storage{% if layout|k:col|k:row|k:'storage_id' in in_queue %} in-queue{% endif %}" data-url="{% url 'wms_skk:inv_update' layout|k:col|k:row|k:'storage_id' %}"
                            bgcolor="{{ layout|k:col|k:row|k:'bg_color' }}" data-toggle="tooltip"
                            data-html="true" title="
                                    <div align='center'>
                                    {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                    {{ layout|k:col|k:row|k:'inv_product_name' }}<br>
                                    ({{ layout|k:col|k:row|k:'inv_product' }})<br>
                                    </div>
                                    <br>
                                    <div align='left'>
                                    Quantity : {{ layout|k:col|k:row|k:'inv_qty' }}<br>
                                    Lot Name: {{ layout|k:col|k:row|k:'lot_name' }}<br>
                                    Created: {{ layout|k:col|k:row|k:'created_on'|date:'d/m/y H:i' }}<br>
                                    Updated: {{ layout|k:col|k:row|k:'updated_on'|date:'d/m/y H:i' }}<br>
                                    </div>">
                            <font color="{{ layout|k:col|k:row|k:'font_color' }}"></font>
                        </td>
                        {% else %}
                        <td class="js-create-inv storage{% if layout|k:col|k:row|k:'storage_id' in in_queue %} in-queue{% endif %}" data-url="{% url 'wms_skk:inv_create' layout|k:col|k:row|k:'storage_id' %}"
                            bgcolor="{% if layout|k:col|k:row|k:'is_inventory' %}#EEE{% else %}white{% endif %}"
                            data-toggle="tooltip"
                            data-html="true" title="
                                    <div align='center'>
                                    {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                    {% if layout|k:col|k:row|k:'is_inventory' %}{{ layout|k:col|k:row|k:'storage_for_name' }}<br>({{ layout|k:col|k:row|k:'storage_for' }})
                                    {% else %}{{ layout|k:col|k:row|k:'storage_for' }}<br>
                                    {% endif %}
                                    </div>">
                            <font color="black"></font>
                        </td>
                        {% endif %}
                        {% else %}
                        {% if col == 46 and row >= 5 and row <= 7 or col == 39 and row >= 5 and row <= 7 %}
                        {% if col == 46 and row == 5 %}
                        <td rowspan="3" class="storage robot">Ro bot #1</td>
                        {% elif col == 39 and row == 5 %}
                        <td rowspan="3" class="storage robot">Ro bot #2</td>
                        {% endif %}
                        {% else %}
                        <td class="storage noBorder {% if row == 9 %}runway{% endif %}"></td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <td class="headerFooter">{% if row >= 10 %}{{ index }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="headerFooter"></td>
                        {% for footer in footer_2 %}
                        <td class="headerFooter">{{ footer }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="headerFooter bold"></td>
                        {% for footer in footer_1 %}
                        <td class="headerFooter bold" colspan="4">{{ footer }}</td>
                        {% endfor %}
                    </tr>
                    </tfoot>
                </table>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div id="transfer1-table" class="table-responsive">
                <table class="table table-sm table-hover">
                    <tr>
                        <th>Status</th>
                        <th>Step</th>
                        <th>X NAV</th>
                        <th>Y NAV</th>
                        <th>Beta NAV</th>
                        <th>Pattern</th>
                        <th>X1</th>
                        <th>Y1</th>
                        <th>X2</th>
                        <th>Y2</th>
                        <th>X3</th>
                        <th>Y3</th>
                        <th>X4</th>
                        <th>Y4</th>
                        <th>X5</th>
                        <th>Y5</th>
                    </tr>
                    <tr>
                        {% for transfer in transfer1_db %}
                        <td><a href="#" onclick="PopupCenter('{% url 'wms_skk:transfer1_form' %}','Popup','400','600');">{{ transfer.get_status_display }}</a></td>
                        <td>{{ transfer.step }}</td>
                        <td>{{ transfer.x_nav|floatformat:4 }}</td>
                        <td>{{ transfer.y_nav|floatformat:4 }}</td>
                        <td>{{ transfer.beta_nav|floatformat:1 }}</td>
                        <td>{{ transfer.get_pattern_display }}</td>
                        <td>{% if transfer.x1 != 0 %}{{ transfer.x1|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y1 != 0 %}{{ transfer.y1|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x2 != 0 %}{{ transfer.x2|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y2 != 0 %}{{ transfer.y2|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x3 != 0 %}{{ transfer.x3|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y3 != 0 %}{{ transfer.y3|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x4 != 0 %}{{ transfer.x4|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y4 != 0 %}{{ transfer.y4|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x5 != 0 %}{{ transfer.x5|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y5 != 0 %}{{ transfer.y5|floatformat:2 }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="modal-inv" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var url_get_data_agv_position = '{% url 'wms_skk:get_data_agv_position' %}';
    var agv_left = '{% static 'wms_skk/images/agv_left.gif' %}';
    var agv_bot = '{% static 'wms_skk/images/agv_bot.gif' %}';
    var agv_right = '{% static 'wms_skk/images/agv_right.gif' %}';
    var agv_top = '{% static 'wms_skk/images/agv_top.gif' %}';
    var url_page = '{% url 'wms_skk:layout' %}';
</script>
<script type="text/javascript" src="{% static 'wms_skk/js/layout.js' %}"></script>
<script type="text/javascript" src="{% static 'wms_skk/js/PopupCenter.js' %}"></script>
{% endblock %}
