{% extends 'wms/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'wms/css/db&log.css' %}"/>
{% endblock %}

{% block title %}Storage Database{% endblock %}
{% block nav_item_db %}active{% endblock %}
{% block nav_item_storage_db %}active{% endblock %}

{% block body %}
<div class="card shadow">
    <div class="card-header text-primary font-weight-bold title p-2">
        Storage Database
    </div>
    <div class="card-body">
        {% if filter %}
        <form action="" method="get" class="form">
            <div class="form-inline justify-content-center">
                {% bootstrap_form filter.form layout='inline' form_group_class='form-group mb-1 mr-1' %}
                <div class="spacer"></div>
                <button type="submit" class="btn btn-success mb-1 mr-1">Search</button>
                <a href="{% querystring '_export'='xlsx' %}" class="btn btn-danger mb-1 mr-1">Export</a>
            </div>
        </form>
        {% endif %}
        {% render_table storage_db %}
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
