{% extends 'wms/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/css/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wms/css/layout.css' %}">
{% endblock %}

{% block title %}{% trans 'Layout' %}{% endblock %}

{% block body %}
<section class="content-header p-2">
    <div class="d-sm-flex justify-content-center">
        <p class="font-weight-bold my-0">{% trans 'Warehouse Layout' %}</p>
    </div>
</section>

<section class="content">
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="layout" id="layout-table">
                    <thead>
                    <tr>
                        <th class="headerFooter font-weight-bold"></th>
                        {% for header in header_1 %}
                        <th class="headerFooter font-weight-bold" colspan="4">{{ header }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="headerFooter font-weight-normal"></th>
                        {% for header, header_col in zip_header_2 %}
                        <th class="headerFooter font-weight-normal js-update-invcol" data-url="{% url 'wms:invcol_update' header_col %}">{{ header }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, row in zip_row %}
                    <tr>
                        <td class="headerFooter">{{ index }}</td>
                        {% for col in layout_col reversed %}
                        {% if layout|k:col|k:row|k:'storage_for' %}
                        {% if layout|k:col|k:row|k:'have_inventory' %}
                        <td class="js-update-inv storage{% if layout|k:col|k:row|k:'storage_id' in in_queue %} in-queue{% endif %}
                            {% if layout|k:col|k:row|k:'misplace' %} misplace{% endif %}"
                            data-url="{% url 'wms:inv_update' layout|k:col|k:row|k:'storage_id' %}"
                            bgcolor="{{ layout|k:col|k:row|k:'bg_color' }}"
                            data-toggle="tooltip"
                            data-html="true" title="
                                            <div align='center'>
                                            {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                            {{ layout|k:col|k:row|k:'inv_product' }}<br>
                                            </div>
                                            <br>
                                            <div align='left'>
                                            {% trans 'Quantity' %} : {{ layout|k:col|k:row|k:'inv_qty' }}<br>
                                            {% if layout|k:col|k:row|k:'lot_name' %}{% trans 'Lot Name' %}: {{ layout|k:col|k:row|k:'lot_name' }}<br>{% endif %}
                                            {% trans 'Created' %}: {{ layout|k:col|k:row|k:'created_on'|date:'d/m/y H:i' }}<br>
                                            {% trans 'Updated' %}: {{ layout|k:col|k:row|k:'updated_on'|date:'d/m/y H:i' }}<br>
                                            {% trans 'Age' %}: {{ layout|k:col|k:row|k:'created_on'|naturaltime }}<br>
                                            </div>">
                            <font color="{{ layout|k:col|k:row|k:'font_color' }}"></font>
                        </td>
                        {% else %}
                        <td class="js-create-inv storage{% if layout|k:col|k:row|k:'storage_id' in in_queue %} in-queue{% endif %}"
                            data-url="{% url 'wms:inv_create' layout|k:col|k:row|k:'storage_id' %}"
                            bgcolor="{% if layout|k:col|k:row|k:'is_inventory' %}#EEE{% else %}white{% endif %}"
                            data-toggle="tooltip"
                            data-html="true" title="
                                            <div align='center'>
                                            {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                            {{ layout|k:col|k:row|k:'storage_for' }}<br>
                                            </div>">
                            <font color="black"></font>
                        </td>
                        {% endif %}
                        {% else %}
                        {% if col == 46 and row >= 5 and row <= 7 or col == 39 and row >= 5 and row <= 7 %}
                        {% if col == 46 and row == 5 %}
                        <td rowspan="2" class="storage robot">Ro bot #1</td>
                        {% elif col == 39 and row == 5 %}
                        <td rowspan="2" class="storage robot">Ro bot #2</td>
                        {% elif col == 46 and row == 7 %}
                        <td id="robotQty1" rowspan="1" class="storage noBorder"></td>
                        {% elif col == 39 and row == 7 %}
                        <td id="robotQty2" rowspan="1" class="storage noBorder"></td>
                        {% endif %}
                        {% else %}
                        <td class="storage noBorder {% if row == 9 %}runway{% endif %}"></td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <td class="headerFooter">{% if row >= 10 %}{{ index }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="headerFooter font-weight-normal"></td>
                        {% for footer, footer_col in zip_footer_2 %}
                        <th class="headerFooter font-weight-normal js-update-invcol" data-url="{% url 'wms:invcol_update' footer_col %}">{{ footer }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="headerFooter font-weight-bold"></td>
                        {% for footer in footer_1 %}
                        <td class="headerFooter font-weight-bold" colspan="4">{{ footer }}</td>
                        {% endfor %}
                    </tr>
                    </tfoot>
                </table>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center refresh">
        <div class="col">
            <div id="transfer-table" class="table-responsive">
                <table class="table table-sm table-hover">
                    <tr>
                        <th>{% trans 'AGV Run' %}</th>
                        <th>{% trans 'AGV Status' %}</th>
                        <th>{% trans 'Step' %}</th>
                        <th>{% trans 'X NAV' %}</th>
                        <th>{% trans 'Y NAV' %}</th>
                        <th>{% trans 'Beta NAV' %}</th>
                        <th>{% trans 'Pattern' %}</th>
                        <th>X1</th>
                        <th>Y1</th>
                        <th>X2</th>
                        <th>Y2</th>
                        <th>X3</th>
                        <th>Y3</th>
                        <th>X4</th>
                        <th>Y4</th>
                        <th>X5</th>
                        <th>Y5</th>
                    </tr>
                    {% for transfer in transfer_db %}
                    <tr>
                        <td>{{ transfer.get_run_display }}</td>
                        <td><a href="#" onclick="PopupCenter('{% url 'wms:transfer_form' transfer.id %}','Popup','400','600');">{{ transfer.get_status_display }}</a></td>
                        <td>{{ transfer.step }}</td>
                        <td>{{ transfer.x_nav|floatformat:4 }}</td>
                        <td>{{ transfer.y_nav|floatformat:4 }}</td>
                        <td>{{ transfer.beta_nav|floatformat:1 }}</td>
                        <td>{{ transfer.get_pattern_display }}</td>
                        <td>{% if transfer.x1 != 0 %}{{ transfer.x1|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y1 != 0 %}{{ transfer.y1|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x2 != 0 %}{{ transfer.x2|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y2 != 0 %}{{ transfer.y2|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x3 != 0 %}{{ transfer.x3|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y3 != 0 %}{{ transfer.y3|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x4 != 0 %}{{ transfer.x4|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y4 != 0 %}{{ transfer.y4|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.x5 != 0 %}{{ transfer.x5|floatformat:2 }}{% endif %}</td>
                        <td>{% if transfer.y5 != 0 %}{{ transfer.y5|floatformat:2 }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div id="modal-inv" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var str_submit = "{% trans 'Submit' %}";
    var str_cancel = "{% trans 'Close' %}";
    var str_custom_range = "{% trans 'Custom Range' %}";
    var custom_range = {
        '{% trans 'Today' %}': [moment().subtract(1, 'days'), moment()],
        '{% trans 'Yesterday' %}': [moment().subtract(2, 'days'), moment().subtract(1, 'days')],
        '{% trans 'Last 7 Days' %}': [moment().subtract(7, 'days'), moment()],
        '{% trans 'Last 30 Days' %}': [moment().subtract(30, 'days'), moment()],
        '{% trans 'This Month' %}': [moment().startOf('month'), moment().endOf('month')],
        '{% trans 'Last Month' %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    };
    var url_get_data_agv_position = '{% url 'wms:get_data_agv_position' %}';
    var agv_left = '{% static 'wms/images/agv_left.gif' %}';
    var agv_bot = '{% static 'wms/images/agv_bot.gif' %}';
    var agv_right = '{% static 'wms/images/agv_right.gif' %}';
    var agv_top = '{% static 'wms/images/agv_top.gif' %}';
    var url_page = '{% url 'wms:layout' %}';

</script>
<script type="text/javascript" src="{% static 'daterangepicker/js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wms/js/layout.js' %}"></script>
<script type="text/javascript" src="{% static 'wms/js/PopupCenter.js' %}"></script>
{% endblock %}
