{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'wms/images/Siam_Cement_Group_Logo.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <title>WMS | Edit Production Plan</title>
</head>

<body>
<div class="container-fluid" style="padding: 0;">
    <div id="popup" class="container" role="document">
    </div>
</div>
</body>

<script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script>
$(document).keydown(function(e) {
    if (e.keyCode == 27) {
        window.close();
    }
});
function CloseAndRefresh() {
    opener.location.reload(true);
    window.close();
}
$(document).ready(function () {
    var pk = window.location.pathname.split('/')[3];
    var url = "{% url 'wms:plan_update' pk %}".replace('pk', pk);
    $.ajax( {
        url: url,
        type: 'get',
        dataType: 'json',
        success: function (data) {
            $('#popup').html(data.html_form);
        }
    });

    var saveForm = function () {
        var form = $(this);
        $.ajax( {
            url: form.attr('action'),
            data: form.serialize(),
            type: form.attr('method'),
            dataType: 'json',
            success: function (data) {
                if (data.form_is_valid) {
                    $('#popup').html(data.html_form);
                    opener.location.reload(true);
                    $(document).ready(function () {
                        window.close();
                    });
                }
                else {
                    $('#popup').html(data.html_form);
                }
            }
        });
        return false;
    };

    $('#popup').on('submit', '.js-plan-update-form', saveForm);

});

</script>

</html>