{% load widget_tweaks %}

<form method="post" action="{% url 'wms:transfer1_update' %}" class="js-transfer1-update-form" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <h1 class="modal-title">Edit Queue</h1>
    </div>

    <div class="modal-body">
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
            {% if form.is_bound %}
            {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field field class="form-control is-valid" %}
            {% endif %}
            {% else %}
            {% render_field field class="form-control" %}
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <input type="button" value="Close" class="btn btn-default" onclick="window.close();">
        <a href="{% url 'wms:transfer1_delete' %}" role="button" class="btn btn-danger" onclick="CloseAndRefresh();">Delete</a>
        <input type="submit" value="Update" class="btn btn-primary">
    </div>

</form>